<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="iOS Test Run">
    <test name="Regression">
        <classes>
            <class name="youtrip_android_regression">
                <methods>
                    <include name="regTC01_selectTH" />
                    <include name="regTC02_selectSG" />
                    <include name="regTC03_login_new_user_OTP" />
                    <include name="regTC04_submit_PC_KYC_NRIC" />
                    <include name="regTC05_fullreject_PC_KYC_NRIC" />
                </methods>
            </class>
            <!--<class name="youtrip_ios_poc">
                <methods>
                    <include name="regTC01_selectTH" />
                    <include name="regTC01_selectSG" />
                </methods>
            </class>-->
        </classes>
    </test>
</suite>